<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Controla a Pepper!</p>
    <form id="empty" action="speak/" method="GET">
        <input id='palabras' type="text" name="words">
        <label>Español</label>
        <input id='español' type="radio" name="language" value="Spanish">
        <label>Ingles</label>
        <input id='ingles' type="radio" name="language" value="English">
        <input id='say' type="submit" value="Hablar ">
    </form>
    <form action="arriba/" method="GET">
        <input type="submit" value="Arriba">
    </form>
    <form action="abajo/" method="GET">
        <input type="submit" value="Abajo">
    </form>
    <form action="izquierda/" method="GET">
        <input type="submit" value="Izquierda">
    </form>
    <form action="derecha/" method="GET">
        <input type="submit" value="Derecha">
    </form>
</body>
</html>